<%= form_for(employee, html: {class: "page-employees_form"}) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name %>
  <div class="field">

    <%= f.text_field :first_name %>
  </div>

  <%= f.label :last_name %>
  <div class="field">
    <%= f.text_field :last_name %>
  </div>

  <%= f.label :email %>
  <div class="field">
    <%= f.text_field :email %>
  </div>

  <%= f.label :department %>
  <div class="field">
    <%= f.select :department_id, Department.all.collect{|d|[d.name, d.id]}, {}, {class: "employee_department_selector"} %>
  </div>


  <%= f.label :tag_ids, "Tags" %>
  <div class="field">
    <%= f.select :tag_ids, Tag.all.collect{|g|[g.name, g.id]}, {}, {class: "employee_tag_selector", multiple: true} %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", {class: "page-employees_form-submit-button"} %>
  </div>
<% end %>
