<div class="page-employees-index">
  <p id="notice"><%= notice %></p>

  <h1>Listing Employees</h1>

  <%= form_for :query, url: employees_path, html: {class: "page-employees-index-form", method: :get} do |f| %>
    <% department_selection_options = Department.all.collect{|department|[department.name, department.id]} %>
    <%= f.select :department,
        options_for_select(department_selection_options, query_department_id),
        {include_blank: "Any"} %>

    <% tag_selection_options = Tag.all.collect{|tag|[tag.name, tag.id]} %>

    <%= f.select :tag,
        options_for_select(tag_selection_options, query_tag_id),
        {include_blank: "Any"} %>

    <button class="page-employees-index_query-button" type='submit'>Filter</button>
  <% end %>

  <table>
    <thead>
      <tr>
        <th class="page-employees-index_table-head">Full name</th>
        <th class="page-employees-index_table-head">Email</th>
        <th class="page-employees-index_table-head">Department</th>
        <th class="page-employees-index_table-head">Tags</th>
        <th class="page-employees-index_table-head"></th>
      </tr>
    </thead>

    <tbody>
      <% employees.each do |employee| %>
        <tr class="page-employees-index_table-row">
          <td class="page-employees-index_table-cell">
            <%= employee.full_name %>
          </td>
          <td class="page-employees-index_table-cell">
            <%= employee.email %>
          </td>
          <td class="page-employees-index_table-cell">
            <%= employee.department.name %>
          </td>
          <td class="page-employees-index_table-cell">
            <%= employee.tag_names %>
          </td>
          <td class="page-employees-index_table-cell">
            <%= link_to 'Show', employee,
                class: "page-employee-index_button" %>

            <%= link_to 'Edit',
                edit_employee_path(employee),
                class: "page-employee-index_button" %>

            <%= link_to 'Destroy', employee,
              method: :delete,
              class: "page-employee-index_button",
              data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="footer-links">
    <%= link_to 'New Employee', new_employee_path %>|
    <%= link_to 'Home', root_path %>
  </div>
</div>
