<div class="page-departments-index">
  <p id="notice"><%= notice %></p>

  <h1>Listing Departments</h1>

  <table>
    <thead>
      <tr>
        <th class="page-departments-index_table-head">Name</th>
        <th class="page-departments-index_table-head">Employee Count</th>
        <th class="page-departments-index_table-head"></th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr class="page-departments-index_table-row">
          <td class="page-departments-index_table-cell"><%= department&.name %></td>
          <td class="page-departments-index_table-cell"><%= department&.employees&.size %></td>

          <td class="page-departments-index_table-cell">
            <%= link_to 'Show', department,
                class: "page-departments-index_button" %>
            <%= link_to 'Edit', edit_department_path(department),
                class: "page-departments-index_button" %>
            <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' },
                class: "page-departments-index_button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="footer-links">
    <%= link_to 'New Department', new_department_path %>|
    <%= link_to 'Home', root_path %>
  </div>
</div>
